@import"variables";
@import"reset";
@import"mixins";
@import"menu";

a {
    text-decoration: none;
    &:hover{
        color: $accent-color;
        font-weight: bold;
    }
}

:root{
    --dark-background-color:#333;
    --light-background-color:#f5f5f5;
    --darl-foreground-color:#000;
    --light-foreground-color:#fff;
    --grey-foreground-color:#ccc;
    --accent-color:#6D0509;
    --general-padding:2em;
    --general-margin:1em;
}

*{
    margin: 0;
    padding: 0;
    color: var(--darl-foreground-color);
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before,*::after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    font-weight: bold;
}

@import "media-query";

div#container{
    display: flex;
    flex-direction: column;
    margin: $general-margin;
}

div#content{
    display: inherit;
    section{
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: $general-margin;
    }
}

div#content aside {
    width: 20vw;
    padding: $general-padding;
}

article {
    flex: 33.33%;
div {
    margin: $general-margin;
    border: 1px solid $grey-foreground-color;
    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        }
    h3,p{
        margin: $general-margin;
        }
    }
}

header {
    @include flex-container;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: inherit;
    align-items: center;
    border-top: 1px solid var(--darl-foreground-color);
    height: 40px;
}

nav ul{
    padding-left: calc(var(--general-padding)/2);
}

nav li {
    display: inline-block;
    width: 5em;
    margin-right: var(--general-margin);
}

div#container{
    display: flex;
    flex-direction: column;
    margin: var(--general-margin);
}

aside {
    padding: var(--general-padding);
    padding-top: calc(var(--general-padding)*1.5);
}

footer {
    @include flex-container;
    background-color: $dark-background-color;
    p{
        color: $light-foreground-color;
    }
}





